# Compiled Object files
*.slo
*.lo
*.o


# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Visual Studio Crap
*.vcproj
*.vcxproj
*.sln
*.user
*.filters

# Executables
*.exe
*.out
*.app
# temp files under linux
*.~*